<div class="container columns is-centered">
    <div class="card" *ngFor="let menuItem of menuItems">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src='{{ menuItem.image }}' alt="Burger">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h2><strong>{{ menuItem.name }}</strong></h2>
            <p>{{ menuItem.description }}</p>
            <button class="button is-fullwidth is-rounded">Order Now</button>
          </div>
        </div>
      </div>
</div>
