@import '../../main-styles.scss';

.navbar {
    
    background-color: $black;
    padding: 10px 30px 10px 30px;

    .navbar-item {
        a {
            padding: 10px;
            margin: 0px 20px 0px 20px;
            color: $white;
            border: 3px solid $purple;
            border-radius: 5px;
        } 
    }
}

