@import '../../main-styles.scss';

.hero-body::before {    
    content: "";
    background-image: url(../../assets/restaurant.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.40;
    background-color: $black;
}